:root {
  --fade-time: 0.5s;
}

.slide-in {
  animation: fade-in-right var(--fade-time) linear;
  animation-range-end: 500px;
}
@keyframes slide-in {
  from {
    scale: 0;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

.fade-in-right {
  animation: fade-in-right var(--fade-time) linear;
  animation-fill-mode: forwards;
}

@keyframes fade-in-right {
  0% {
    scale: 0;
    opacity: 0;
    left: -500px;
  }
  100% {
    scale: 1;
    opacity: 1;
    left: 0px;
  }
}

.fade-in-left {
  animation: fade-in-left var(--fade-time) linear;
  animation-fill-mode: forwards;
}

@keyframes fade-in-left {
  0% {
    scale: 0;
    opacity: 0;
    right: -500px;
  }
  100% {
    scale: 1;
    opacity: 1;
    right: 0px;
  }
}
